<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Movie List</title>
</head>
<body>
    <h1>Movie List</h1>

    {% if movies %}
    <form method="POST">
        {% csrf_token %}

        <select name="movies">
            {% for movie in movies %}
            <option value="{{ movie.0 }}">Episode {{ movie.0 }} - {{ movie.1 }} ({{ movie.2 }})</option>
            {% endfor %}
        </select>

        <br><br>
        <button type="submit">Supprimer</button>
    </form>
    {% else %}
        <p>No data available</p>
    {% endif %}

</body>
</html>