<!DOCTYPE html>
<html>
<head>
    <title>ex10</title>
</head>
<body>
    <form method="post">
        {% csrf_token %}
        <p>
            <label for="{{ form.release_date_min.id_for_label }}">{{ form.release_date_min.label }} (YYYY-MM-DD):</label>
            {{ form.release_date_min }}
        </p>
        <p>
            <label for="{{ form.release_date_max.id_for_label }}">{{ form.release_date_max.label }} (YYYY-MM-DD):</label>
            {{ form.release_date_max }}
        </p>
        <p>
            <label for="{{ form.diameter_min.id_for_label }}">{{ form.diameter_min.label }}:</label>
            {{ form.diameter_min }}
        </p>
        <p>
            <label for="{{ form.gender.id_for_label }}">{{ form.gender.label }}:</label>
            {{ form.gender }}
        </p>
        <button type="submit">Search</button>
    </form>

    {% if results is not None %}
        {% if results %}
            <table border="1">
                <thead>
                    <tr>
                        <th>Movie title</th>
                        <th>Character name</th>
                        <th>Gender</th>
                        <th>Homeworld</th>
                        <th>Diameter</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in results %}
                    <tr>
                        <td>{{ row.title }}</td>
                        <td>{{ row.characters__name }}</td>
                        <td>{{ row.characters__gender }}</td>
                        <td>{{ row.characters__homeworld__name }}</td>
                        <td>{{ row.characters__homeworld__diameter }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>Nothing corresponding to your research</p>
        {% endif %}
    {% endif %}
</body>
</html>
