<!DOCTYPE html>
<html>
<head>
    <title>ex09 - Display</title>
</head>
<body>

<h2>Characters from windy planets</h2>
{% if people %}
    <table border="1">
        <thead>
            <tr>
                <th>Character name</th>
                <th>Homeworld</th>
                <th>Climate</th>
            </tr>
        </thead>
        <tbody>
            {% for person in people %}
            <tr>
                <td>{{ person.name }}</td>
                <td>{{ person.homeworld.name }}</td>
                <td>{{ person.homeworld.climate }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>No data available, please use the following command line before use:</p>
    <code>python manage.py loaddata ex09/ex09_initial_data.json</code>
{% endif %}

<!-- <h2>Planets</h2>
{% if all_planets %}
    <table border="1">
        <thead>
            <tr>
                <th>Name</th>
                <th>Climate</th>
                <th>Diameter</th>
                <th>Orbital period</th>
                <th>Population</th>
                <th>Rotation period</th>
                <th>Surface water</th>
                <th>Terrain</th>
            </tr>
        </thead>
        <tbody>
            {% for planet in all_planets %}
            <tr>
                <td>{{ planet.name }}</td>
                <td>{{ planet.climate }}</td>
                <td>{{ planet.diameter }}</td>
                <td>{{ planet.orbital_period }}</td>
                <td>{{ planet.population }}</td>
                <td>{{ planet.rotation_period }}</td>
                <td>{{ planet.surface_water }}</td>
                <td>{{ planet.terrain }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>No planets data available.</p>
{% endif %}

<h2>People</h2>
{% if all_people %}
    <table border="1">
        <thead>
            <tr>
                <th>Name</th>
                <th>Birth year</th>
                <th>Gender</th>
                <th>Eye color</th>
                <th>Hair color</th>
                <th>Height</th>
                <th>Mass</th>
                <th>Homeworld</th>
            </tr>
        </thead>
        <tbody>
            {% for person in all_people %}
            <tr>
                <td>{{ person.name }}</td>
                <td>{{ person.birth_year }}</td>
                <td>{{ person.gender }}</td>
                <td>{{ person.eye_color }}</td>
                <td>{{ person.hair_color }}</td>
                <td>{{ person.height }}</td>
                <td>{{ person.mass }}</td>
                <td>{{ person.homeworld.name }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>No people data available.</p>
{% endif %} -->

</body>
</html>
